<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Home</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'TelaHome/home.css' %}">

</head>
<body>
  
  <header>
    <nav>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">EDITAIS</a></li>
        <li><a href="#">NOTÍCIAS</a></li>
        <li><a href="#">SOBRE NÓS</a></li>
        <li><a href="#">PERFIL</a></li>
      </ul>
    </nav>
  </header>

 
  <section class="carousel">
    <div class="slide">
      <img src="/media/news/uern.png" alt="Imagem 1">
      <div class="content">
        <h2>TÍTULO</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <button class="prev">&lt;</button>
    <button class="next">&gt;</button>
  </section>

 
  <section class="cta">
    <a href="{% url 'cadastro' %}" class="btn">Inscrever no processo seletivo</a>
    <a href="{% url 'area_professor' %}" class="btn">Area do professor</a>
  </section>
  
  <section class="news">
    <h2>Notícias em Destaque</h2>
    <div class="news-item">
      <img src="/media/news/new.png" alt="Notícia 1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="news-item">
      <img src="/media/news/new.png" alt="Notícia 1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="news-item">
      <img src="/media/news/new.png" alt="Notícia 1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </section>

  
  <footer>
    <ul>
      <li><a href="#">Início</a></li>
      <li><a href="#">Serviços</a></li>
      <li><a href="#">Sobre Nós</a></li>
      <li><a href="#">Contatos</a></li>
    </ul>
    <p>© 2024 Todos os direitos reservados.</p>
  </footer>

  <script src="./script.js"></script>
</body>
</html>
