<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Envie um PDF para Processamento</h1>
    
    <form method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 10px; width: 300px;">
        {% csrf_token %}
        <label for="nome">Nome do Aluno:</label>
        <input type="text" id="nome" name="nome" required>
        
        <label for="idade">Idade:</label>
        <input type="text" id="idade" name="idade" required>

        <label for="curso">Curso:</label>
        <input type="text" id="curso" name="curso" required>

        <label for="IRA">IRA:</label>
        <input type="text" id="IRA" name="IRA" required>

        <label for="Email">Email Academico:</label>
        <input type="text" id="Email" name="Email" required>

        <label for="pdf_file">Escolha um PDF:</label>
        <input type="file" id="pdf_file" name="pdf_file" accept="application/pdf" required>
        
        <button type="submit">Enviar PDF</button>
    </form>
    <div class="signup-container">
        <form action="#" method="POST" enctype="multipart/form-data">
           
            <div class="document-container">
                <label>Anexe seu currículo:</label>
                <input type="file" name="curriculo" accept=".pdf,.doc,.docx" required>
                <button type="button" class="upload-btn">ENVIAR</button>
            </div>

            <div class="input-group">
                <input type="url" name="lattes" id="lattes" placeholder="https://lattes.cnpq.br/seu-perfil" required>
            </div>

           
            <div class="input-group">
                <input type="url" name="github" id="github" placeholder="https://github.com/seu-usuario" required>
            </div>

            
            <div class="input-group">
                <label for="interesse">Área de interesse:</label>
                <select name="interesse" id="interesse" required>
                    <option value="">Selecione</option>
                    <option value="ia">Otimização de IA</option>
                    <option value="engenharia-software">Engenharia de Software</option>
                </select>
            </div>

            <div class="button-container">
                
                <button type="submit" class="submit-btn">CONCLUIR</button>
            </div>
        </form>
    </div>
    
</body>
</html>
