{% block content %}
<div class="container">
    <h2>Inscrição para {{ selecao.edital.titulo }}</h2>
    <p>Professor responsável: {{ selecao.professor_responsavel.get_full_name }}</p>
    <p>Período: {{ selecao.data_inicio|date:"d/m/Y" }} a {{ selecao.data_fim|date:"d/m/Y" }}</p>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar Inscrição</button>
    </form>
</div>
{% endblock %}