<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-container">
        <h2>LOGIN</h2>
        <input type="text" placeholder="Usuário">
        <input type="password" placeholder="Senha">
        <a href="#">Não tem conta? crie uma agora.</a>
        <button>ENTRAR</button>
    </div>
</body>
</html>
